.rr1 {
    height: 600px;
}
.lizImg1 {
    margin-left: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 36.7%;
    height: 600px;
    background-image: url('../img/gk-app/scaqr.png'); 
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.lizImg2 {
    display: inline-block;
    width: 35.5%;
    height: 500px;
    background-image: url('../img/gk-app/calendar.png'); 
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.lizVidContainer2{
	border-radius: 3px;
	width: 19.3%;
	display: inline-block;
	background-color: #fff;
	border: #cbcbcb;
	border-width: 0.5;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.lizPdyVidContainer1{
	border-radius: 3px;
	width: 23.9%;
	display: inline-block;
	background-color: #fff;
	border: #cbcbcb;
	border-width: 0.5;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.lizRowColStyle{
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}


  
.lizMenu a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
.lizMenu a:hover {
	background-color: #999;
	color: white;
	transition: 0.3s;
}

.lizMenuBtn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 0px;
  opacity: 0.6;
  transition: 0.3s;
}
.lizMenuBtn:hover {opacity: 1}


.lizMenuBtn1 {
	background-color: #fff;
	border: 0.7px solid #cbcbcb;
	border-radius: 3px;
	color: #434343;
	padding: 0px 15px;
	margin: 0px;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	height: 70px;
	opacity: 0.55;
	transition: 0.3s;
}

.lizMenuBtnActive {
	background-color: #ccc;
	opacity: 1
}

.lizMenuBtn1:active {
	background-color: #ccc;
	opacity: 1
}

.lizMenuBtn1:hover {
	background-color: #ccc;
	opacity: 1
}

ul {
	list-style-type: none;
	margin-right: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	margin: 5px 2.5px;
}

liss {
	float: left;
	margin: 5px 2.5px;
}


.lizBGImg {
	width: 100%;
    height: 100vh;
    background-image: url('../img/bg.jpg'); 
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 9999;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.21);
}

.introContainer{
	width: 100%;
    height: 100vh;
	margin: 0;
	padding: 0;
	background-color: rgba(155, 200, 245, 0.7);
}

.lizP1Intro{
	padding: 100px;
	margin: 0px 70px;
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	font-size: 40pt;
	text-align: center;
}


.lizP2Intro{
	padding: 25px 100px;
	width: 100%;
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	font-size: 32pt;
	text-align: center;
	color: #999;
}

.center {
	margin: auto;
}