<div class="container">
	<div class="lizTitleLbl1">
		Note: Click the App Image for details
	</div></br></br>
	<div class="row">

		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(1)">
				<div class="lizTitleLbl">
					Payday Today App
				</div>
				<img class="lizImg3" src="img/pdyPromo.jpg" alt="profile">
			</div>
		</div>

		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(2)">
				<div class="lizTitleLbl">
					GoodKredit App
				</div>
				<img class="lizImg3" src="img/gkapp.png" alt="profile">
			</div>
		</div>

		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(3)">
				<div class="lizTitleLbl">
					Native Camp App
				</div>
				<img class="lizImg3" src="img/nativeapp.png" alt="profile">
			</div>
		</div>
	</div>

	</br>
	<div class="row">
		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(4)">
				<div class="lizTitleLbl">
					GiftBeam App
				</div>
				<img class="lizImg3" src="img/gbapp.png" alt="profile">
			</div>
		</div>
	</div>
</div>