<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(1)">
				<img class="lizImg3" src="img/pdyPromo.jpg" alt="profile">
			</div>
		</div>
		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(2)">
				<div class="lizTitleLbl">
					GoodKredit App
				</div>
				<img class="lizImg3" src="img/gkapp.png" alt="profile">
			</div>
		</div>
		<div class="col-md-4">
			<div class="lizRowColStyle" ng-click="click1(3)">
				<img class="lizImg3" src="img/gbapp.png" alt="profile">
			</div>
		</div>
	</div>
</div>