<div id="gkItem" ng-controller="PdyAppCtrl" >
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="margin-top: 35px;">

                <p class="lizP">Services</p>
                <button class="lizMenuBtn" ng-click="click('https://streamable.com/e/sfa0x9')">
                    Watch Payday Login
                </button>

                <ul>
                    <li ng-repeat="menu in menuList">
                        <button 
                            class="lizMenuBtn1" 
                            ng-class="{lizMenuBtnActive: menu.VidURL == activeVidURL}" 
                            ng-click="click(menu.VidURL)">
                            {{menu.AppName}}
                        </button>
                    </li> 
                </ul>

                <p class="lizP2">Others--</p>
                <ul style="margin-top: -20px">
                    <li ng-repeat="menu in otherVid">
                        <button 
                            class="lizMenuBtn1" 
                            ng-class="{lizMenuBtnActive: menu.VidURL == activeVidURL}" 
                            ng-click="click(menu.VidURL)">
                            {{menu.AppName}}
                        </button>
                    </li> 
                </ul>
            </div>


            <div class="col-md-5" style="background-color: black; margin-top: 35px;">
                <iframe ng-src="{{activeVidURL}}" frameborder="0" width="100%" height="100%" allowfullscreen class="lizVid" id="lizIframeVid">
                </iframe>
            </div>
        </div>
    </div>
</div>